


html , .main {
    color :white;
    background: rgb(2,0,36);
    background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(17,50,101,1) 0%, rgba(31,85,117,1) 0%, rgba(0,16,38,1) 100%); 
}

.first-card {
    background-color: rgba(255,255,255,0.6);
    color : black;
    width: 40%;
    margin: 50px;
    padding:40px;
    border-radius: 10px;
}

.first-title {
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    color:rgb(8, 60, 143);
}

.main-test {
    width: 60%;
}

.image-background {
    background-color: white;
    height : 450px;
    width: 350px;
    margin:10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-background2 {
    background-color: white;
    height : 450px;
    width: 350px;
    margin:10px;
    
}


.image-border {
    outline:5px solid white;
}

.image-border2 {
    outline:5px solid white;
    
}

.this-image-background{
    background-color: blue;
}

.this-image-background2{
    width: 100%;
    height: 100%;
}

.espace-fleche {
    display:flex;
    justify-content: center;
    align-items: center;
}

#my-analyse-button {
    padding:10px
}

.test-section-below{
    display:grid;
    gap:2rem;
    grid-template-columns:repeat(5,1fr);
    justify-content: center;
    margin-bottom: 10px;
}

.name-clothes {
    margin-bottom: 15px;
}