{% extends "./base.html" %}

{% block content%}
    
    <div class="main">
        <br>
        <br>
        <center>
            <div class="first-card">
                <h2 class="first-title">The sustainable fashion challenge</h3>
                <p>The Challenge is to 
                    create a new innovative
                    product or service
                    directly improving the
                    take-up and adoption of
                    sustainability and
                    circularity models and
                    practices in the fashion
                    sector</p>
            </div>
        </center>
        
    </div>

{% endblock %}
