{% extends "base.html" %}


{% block content %}
    <div class="main-test">
        <div class="mb-3">
            <label for="formFile" class="form-label">Select your image</label>
            <input class="form-control" type="file" id="formFile">
        </div>
        <center>
        <div class="test-section-below">
            
                <div class="image-border">
                    <div class="image-backgroud">
                    </div>
                </div>

                <div class="image-border">
                    <div class="image-backgroud">
                    </div>
                </div>
        </div>
    </center>
    </div>
{% endblock %}